rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to the students collection
    match /students/{document=**} {
      allow read, write: if true;
    }
  }
}
